@model List<DeviceModel>

<form method="post" asp-controller="Device" asp-action="Device">
    <div class="grid-container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="grid-item">
                <div class="image-container">
                    <img src="@Url.Content($"~/Images/Devices/{Model[i].ImagePath}")" class="rounded mx-auto d-block" alt="iphone" width="150" height="300">
                    <p class="text-center">@Model[i].Name</p>
                    <p class="text-center">@Model[i].Price</p>
                    <p class="text-center">@Model[i].Count</p>
                </div>
                <button type="submit" name="selectedDevice" value="@Model[i].Name">
                    <img src="@Url.Content("~/Images/Shop/ShoppingCart.png")" class="rounded mx-auto d-block" alt="shopping cart" width="50" height="50"/>
                </button>
            </div>
        }
    </div>
</form>

<a href="@Url.Action("OrderDevice", "OrderedDevice")" class="btn btn-primary" style="position: absolute; top: 10px; right: 10px;">Order Devices</a>
